@{
    ViewData["Title"] = "Home Page";
}

   
<marquee direction="left">🚕  🚐  🚕 </marquee>
<section class="hero">
        <div>
            <h1>#SafeRides</h1>
            <p>Fastest Booking Service</p>
        <a asp-area="Accounts" asp-controller="Home" asp-action="Booking">Book Now</a>
        </div>
        <img src="https://images.pexels.com/photos/69206/pexels-photo-69206.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Taxi image">
</section>

  



